.list-categorie {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	overflow-x: auto;
}
.list-item-categorie {
	padding: 12px;
}
.list-item-categorie img {
	max-width: 30px;
	min-width: 30px;
	display: inline-block;
}
.list-item-categorie a {
	color: black;
	text-decoration: none;
	font-size: 13px;
	white-space: nowrap;
	display: block;
}
